.settings{
    display: flex;
}
.settingswrapper{
    flex: 9;
    padding: 20px;
}
.settingstitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsupdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: coral;
}
.settingsdeletetitle{
font-size: 17px;
color: green;
cursor: pointer;

}
.settingsform{
    display: flex;
    flex-direction: column;
}
.settingspp{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.settingspp > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;

}
.settingsprofilepic{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 251, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.settingsform > label{
    font-size: 20px;
    margin-top: 20px;
}
.settingsform > input{
    color: gray;
    margin: 10px 0px;
    height: 30px;
    border:none;
    border-bottom: 1px solid lightgrey;
    width: 50%;
}
.settingsSubmit{
    width: 100px;
    margin-top: 10px;
    align-self: center;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 6px;
    color:black;
    background-color: lightskyblue;
    cursor: pointer;

}